
header {
    flex:auto;
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: larger;
    justify-content: center;
    text-align: center;
    background-color: red;
    border: black solid 3px;
    color: white; 
     text-shadow: 3px 3px 0 #000;
     margin-bottom: 5px;
    
}

body {
    font-family: 'Arial Black', Gadget, sans-serif;
background-color: antiquewhite;

}

#gameBox {
    background-color: rgb(176, 223, 176);
    border: 3px solid black;
    color: black;
    font-size: x-large;
    align-items: center;
    justify-content: center;
    padding:15px;
}

#tradeContainer {
    display: flex;
    gap: 20px;
    justify-content: center;
    background-color: rgb(88, 88, 150);
}


div .playerValuesBox {
    border: 1px red solid;
    background-color: rgb(176, 223, 176);
    margin: 10px;
    font-family: 'Arial Black', Gadget, sans-serif;
}
div .playerValuesBox h3 {
    text-align: center;
}


button {
    padding: 10px;
    color: white;
    font-size: large;
    background-color: seagreen;
    margin: 5px;
}

footer {
    margin-top: auto;
    display:flex;
    
}

footer div div {
    float:left;
    padding:5px;
}